* {
  box-sizing: border-box;
}

#footer {
  height: 66px;
  border-bottom: 1px solid #f4f4f4;
}

#footer > h2 {
  padding-top: 5px;
}

#container,
#footer {
  padding: 0 244px;
}

#container > #title {
  margin: 60px 0px 44px 0px;
}
#container > #subtitle {
  margin-bottom: 25px;
}
#description {
  line-height: 25px;
  margin-bottom: 30px;
}
