* {
  box-sizing: border-box;
  width: 100%;
}
body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1550px;
}

.header {
  height: 49.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eff2f1;
  border-bottom: 3px solid #a0138e;
}

.nav_bar {
  flex-basis: 133px;
  padding-top: 47px;
  display: flex;
  justify-content: flex-end;
}

/* .nav_bar span {
  width: 200px;
  margin: 0;
}

.nav_bar a {
  padding: 8px;
  margin-right: 20px;
  text-decoration: none;
}
.nav_bar a:hover {
  color: yellow;
} */

.section {
  flex-basis: 600px;
  background-image: url(img/section_img.webp);
  background-position: center center;
  background-repeat: no-repeat;
  color: white;

  font-size: 60px;
  text-align: left;
  padding: 50px;
}

.content {
  flex-basis: 351px;
  background-color: #fcd307;
}

.about {
  flex-basis: 710px;
  display: flex;
  align-items: center;
}

.contact {
  flex-basis: 850px;
  background-color: #212121;
  color: white;
}

.foot {
  flex-basis: 150px;
}

/* ---------------------NAV_BAR--------------------------*/

.block {
  display: block;
}
.nav_head {
  padding-left: 285px;
  width: 800px;
  float: left;
}
.nav_head_1 {
  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.nav_head_2 {
  font-family: Georgia, Times, serif;
  font-weight: 200;
  font-style: italic;
  font-size: 32px;
}

.nav_ul {
  float: left;
  width: 400px;
  text-align: right;
  padding: 10px;
  margin-right: 4px;
  margin-top: 20px;
}
.nav_li {
  display: inline-block;
  list-style: none;
  margin: 1px;
  width: 100px;
  text-decoration: none;
}

.nav_hyper1 {
  text-decoration: none;
  color: #fcd307;
  font-size: 14px;
}
.nav_hyper2 {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
}
.nav_hyper1:hover {
  color: #fcd307;
}
.nav_hyper2:hover {
  color: #fcd307;
}
.nav_hyper3:hover {
  color: #fcd307;
}

.nav_hyper3 {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
}
/* .nav.img{
  display: flex;
  justify-content: space-between
} */

.nav_img_1 {
  float: left;
  text-align: right;
  width: 25px;
  height: 25px;
  padding-top: 31px;
  padding-right: 5px;
  padding-left: 3px;
}

/* ---------------------CONTENT--------------------------*/

.content-main {
  width: 1000px;
  margin: 0 auto; /*auto값은 요소 안의 마진 여백이 왼쪽 마진과 오른쪽 마진 사이에서 대등하게 나눠짐을 의미한다.*/
  display: flex;
  align-items: center;
}

.content-block {
  margin-top: 100px;
  text-align: center;
}

.content-round {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 240px;
}

#round {
  width: 102px;
  height: 102px;
  background: white;
  border-radius: 50%;
}

#round img {
  width: 60px;
  margin: 17px;
}

.content-p {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  letter-spacing: 2.1px;
  font-family: helvetica, sans-serif;
}

.contact-main {
  width: 1000px;
  display: flex;
  /* align-items: center; */
  margin: 35px auto;
}

.contact-left-side {
  flex-basis: 40%;
  /* background-color: #fcd307; */

  height: 1000px;
}

.contact-right-side {
  flex-basis: 60%;
  /* background-color: #a0138e; */
  height: 1000px;
  padding-right: 16%;
  padding-top: 140px;
}

.contact-title {
  font-size: 55px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact-subtitle {
  font-size: 20px;
  font-family: serif;
}

/*auto값은 요소 안의 마진 여백이 왼쪽 마진과 오른쪽 마진 사이에서 대등하게 나눠짐을 의미한다.*/

#map {
  width: 309px !important;
  height: 299px !important;
  border: 1px solid #ccc;
}

#contact-information {
  margin-top: 60px;
}

.mail_img {
  width: 29px;
  height: 20px;
  margin-right: 12px;
}

.call_img {
  width: 17px;
  height: 36px;
  margin-left: 8px;
  margin-right: 17px;
}
/* --------------------ABOUT-------------------------*/
.about_final {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

#about-cross {
  position: relative;
  top: 12px;
}

.about {
  display: flex;
  flex-direction: column;
  flex-basis: 6000px;
}
.about_1 {
  padding-left: 50px;
  padding-top: 60px;
}
.about_1_1 {
  display: flex;
  flex-direction: row;
}
.introduce {
  font-size: 55px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.introduce_1 {
  font-size: 55px;
}
.about_2 {
  display: flex;
}
.about_2_1 {
  padding-right: 50px;
}
.about_2_1_1 {
  display: flex;
  justify-content: space-between;
}
.about_2_2_1 {
  display: flex;
  justify-content: space-between;
}
.about_name_1 {
  padding-top: 30px;
  font-size: 14px;
}

.people {
  width: 215px;
  height: 201px;
}
.about_2_1_2 {
  display: flex;
  text-align: center;
  padding-bottom: 50px;
}

.about_2_2_2 {
  display: flex;
  text-align: center;
  padding-bottom: 50px;
}
.about_content {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.CEO {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact-cross_1 {
  float: left;
  left: -30px;
  background: #000000;
  height: 40px;
  position: relative;
  width: 10px;
  top: 30px;
}

.contact-cross_1:after {
  background: #000000;
  content: "";
  height: 10px;
  left: -15px;
  position: absolute;
  top: 15px;
  width: 40px;
}

/* ---------------------CONTACT--------------------------*/

.contact-img-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contact-info a {
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-family: helvetica, sans-serif;
  letter-spacing: 0.05em;
}
.contact-address {
  margin: 60px 0;
  font-size: 12px;
  font-family: helvetica, sans-serif;
  letter-spacing: 0.05em;
}

.contact-cross {
  float: left;
  left: -30px;
  background: white;
  height: 40px;
  position: relative;
  width: 10px;
  top: 30px;
}

.contact-cross:after {
  background: white;
  content: "";
  height: 10px;
  left: -15px;
  position: absolute;
  top: 15px;
  width: 40px;
}

.contact-form {
  display: flex;
}

.left-form {
  width: 221px;
  height: 32px;
  margin-bottom: 3px;
  padding-left: 20px;
}

#message {
  width: 210px;
  height: 102px;
  padding: 10px 10px 13px 24px;
  font-family: Helvetica, Arial, sans-serif;
  overflow: scroll;
  font-size: 14px;
}

.contact-left-form {
  width: 222px;
  margin-right: 10px;
}

.contact-form-button {
  display: flex;
  justify-content: flex-end;
}

#submit-btn {
  background-color: #fcd307;
  color: #212121;
  border: none;
  width: 104px;
  height: 30px;
  margin-right: 2px;
  outline: none;
}

#submit-btn:hover {
  background-color: white;
  transition: background-color 0.5s;
  outline: none;
}

.contact-right-side h5 {
  font-size: 29px;
  font-family: serif;
  margin-bottom: 5%;
}

hr {
  border: solid 1px white;
}

.left-form:hover,
#message:hover {
  border: solid 2px #fcd307;
}

.left-form:focus,
#message:focus {
  border: solid 2.2px #fcd307;
  outline: none;
}

#email:focus {
  border: solid 2.2px red;
}

/* ---------------------FOOTER--------------------------*/
.footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footer_1 {
  /* padding-top: 10px; */
  display: flex;
}

.footer-box {
  width: 1200px;
  padding-left: 200px;
}

.foot {
  flex-basis: 370px;
}

.footer_2 {
  margin: 0%;
  width: 80%;
  display: flex;
}
.footer_img {
  margin: 0%;
  padding: 13px;
  width: 10%;
  height: 10%;
  display: flex;
}
#hyper {
  text-decoration: none;
  color: #000000;
}

.foot_img {
  padding-right: 5px;
  width: 21px;
  padding-bottom: 4px;
  margin-bottom: 2px;
}

/*------문주-------*/
#second {
  padding-top: 50px;
  height: 100px;
}

#second {
  text-align: right;
}
#creative {
  font-size: 35px;
  font: bold;
}
#main {
  color: #fcd307;
  text-decoration: none;
}

#people {
  color: indigo;
  text-decoration: none;
}
#job {
  color: indigo;
  text-decoration: none;
}
#right {
  text-align: right;
}
.header {
  height: 49.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eff2f1;
  border-bottom: 3px solid #a0138e;
  text-align: center;
}
.header {
  height: 49.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eff2f1;
  border-bottom: 3px solid #a0138e;
  text-align: center;
  padding-top: 5.5px;
}

.header a {
  display: inline-block;
  border: 2px solid #a0138e;
  border-radius: 17px;
  box-sizing: content-box;
  width: 100px;
  text-align: center;
  color: #a0138e;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}
.header:hover {
  background-color: white;
}
.header > #tag > a:hover {
  background-color: #a0138e;
  color: white;
}

#future {
  padding: 40px;
  font-size: 50px;
  color: white;
  padding-left: 0px;
}
