* {
  box-sizing: border-box;
  width: 100%;
}
body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1550px;
}

.header {
  height: 49.5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eff2f1;
  border-bottom: 3px solid #a0138e;
}

.nav_bar {
  flex-basis: 133px;
  padding-top: 47px;
}

.section {
  flex-basis: 600px;
  background-image: url(section_img.webp);
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

.content {
  flex-basis: 351px;
  background-color: #fcd307;
}

.about {
  flex-basis: 710px;
  display: flex;
  align-items: center;
}

.contact {
  flex-basis: 850px;
  background-color: #212121;
  color: white;
}

.foot {
  flex-basis: 150px;
}

.content-main {
  width: 1000px;
  margin: 0 auto; /*auto값은 요소 안의 마진 여백이 왼쪽 마진과 오른쪽 마진 사이에서 대등하게 나눠짐을 의미한다.*/
  display: flex;
  align-items: center;
}

.content-block {
  margin-top: 100px;
  text-align: center;
}

.content-round {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 240px;
}

#round {
  width: 102px;
  height: 102px;
  background: white;
  border-radius: 50%;
}

#round img {
  width: 60px;
  margin: 17px;
}

.content-p {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  letter-spacing: 2.1px;
  font-family: helvetica, sans-serif;
}

.contact-main {
  width: 1000px;
  display: flex;
  /* align-items: center; */
  margin: 35px auto;
}

.contact-left-side {
  flex-basis: 45%;
  /* background-color: #fcd307; */

  height: 1000px;
}

.contact-right-side {
  flex-basis: 55%;
  background-color: #a0138e;
  height: 1000px;
}

.contact-title {
  font-size: 55px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact-subtitle {
  font-size: 20px;
  font-family: serif;
}

/*auto값은 요소 안의 마진 여백이 왼쪽 마진과 오른쪽 마진 사이에서 대등하게 나눠짐을 의미한다.*/

#map {
  width: 309px !important;
  height: 299px !important;
  border: 1px solid #ccc;
}

#contact-information {
  margin-top: 60px;
}

.mail_img {
  width: 29px;
  height: 20px;
  margin-right: 12px;
}

.call_img {
  width: 17px;
  height: 36px;
  margin-left: 8px;
  margin-right: 17px;
}

.contact-img-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contact-info a {
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-family: helvetica, sans-serif;
  letter-spacing: 0.05em;
}
.contact-address {
  margin: 60px 0;
  font-size: 12px;
  font-family: helvetica, sans-serif;
  letter-spacing: 0.05em;
}

.contact-cross {
  float: left;
  left: -30px;
  background: white;
  height: 40px;
  position: relative;
  width: 10px;
  top: 30px;
}

.contact-cross:after {
  background: white;
  content: "";
  height: 10px;
  left: -15px;
  position: absolute;
  top: 15px;
  width: 40px;
}
